body {
    background-color: rgb(215, 131, 22);
    display: flex;
}

.foto {
    margin: 20px;
}

.foto img {
    width: 200px;
    height: 300px;
    margin-left: 60px;
    border: 2px solid black;
    border-radius: 20px;
}